html {
    height: 100%;
}

body {
    height: 100%;
    background-color: white;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar{
    display:flex;
    justify-content:space-around;
    
}
.header{
    display: flex;
    justify-content:center;
    
}
/*
This is the Gallery HTML
*/
.gallery{
    display: flex;
    justify-content: space-between;
}

